body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

.post-sign-in {
  display: none;
}

.during-upload {
  display: none;
}

.post-upload {
  display: none;
}

#channel-name {
  font-size: 60px;
  margin-left: 10px;
}

label {
  display: block;
}

input[type="text"], textarea, progress {
  font-size: 0.75em;
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
}

textarea {
  height: 7em;
}